/*Fonts*/

@font-face{
    font-family: "IBM_Plex_Sans_Thin";
    src: url(../fonts/IBMPlexSans-Thin.ttf);
    font-style: normal;
    font-weight: 100;
}

@font-face{
    font-family: "IBM_Plex_Sans_Regular";
    src: url(../fonts/IBMPlexSans-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face{
    font-family: "IBM_Plex_Sans_Medium";
    src: url(../fonts/IBMPlexSans-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}

@font-face{
    font-family: "IBM_Plex_Sans_Semi_Bold";
    src: url(../fonts/IBMPlexSans-SemiBold.ttf);
    font-style: normal;
    font-weight: 600;
}
/*Global properties*/
body{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1124px;
    margin: 0 auto;
    box-sizing: border-box;
}

.comment_text{
    font-family: "IBM_Plex_Sans_Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    color: #333333;
}

.section_heading{
    font-family: "IBM_Plex_Sans_Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 62.4px;
    color: #A3CC40;   
}
/*Navigation*/
.header{
    background-image: url(../images/Backgroound_Picture.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 668px;
    
    /* clip-path polygon cuts the end of the main background picture*/
    clip-path: polygon(0% 0%, 100% 0%, 100% 81%, 0% 100%);
}

nav{
    display: flex;
}

.innopolis_logo{
    padding: 52px 0 0 89px; 
}

/*Navigation bar*/
.nav_contact ul li a{
    text-decoration: none;
    color: #FFFFFF;

    font-family: "IBM_Plex_Sans";
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    line-height: 15.6px;
}

/*Top navigation*/
.nav_contact{
    padding: 47px 0 0 45px;
}
.nav_contact ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.contact li{
    padding-right: 65px;
}
.contact li a:hover{
    text-decoration: underline;
    color: aqua;
}
.button_call{
    background-color: #FFFFFF;
    border-radius: 6px;
}

.lang_select{
    padding-left: 45px;
    background-color: transparent;
    border: transparent;
    color: white;
}

/*Bottom navigation*/

.sections_nav li{
    padding: 8px 75px 0 0;
}

.sections_nav li a:hover{
    text-decoration: underline;
    color: aqua;
}
/*Navigation ends*/

/*Main headers*/

.main_header{
    font-family: "IBM_Plex_Sans_Thin";
    font-size: 68px;
    line-height: 88.4px;
    font-weight: 100;
    font-style: normal;
    color: #FFFFFF;
    text-align: center;

    margin: 130px 0 0 0;
}
.under_main_header{
    font-family: "IBM_Plex_Sans_Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 41px;
    line-height: 53.3px;
    color: #FFFFFF;
    text-align: center;

    margin: 18px 0;
}
/*Main headers ends*/

/*Welcome block*/
.welcome{
    position: absolute;
    height: 221px;
    width: 426px;
    border-radius: 10px;
    left: 703px;
    top: 531px;
    background: #FFFFFF;
    box-shadow: 0px 27px 39px rgba(163, 204, 64, 0.18);
    text-align: center;
}
.welcome h3{
    font-family: "IBM_Plex_Sans_Semi_Bold";
    font-weight: 600;
    font-size: 33px;
    line-height: 43px;
    font-style: normal;
    color: #333333;
    margin-bottom: 22px;
}
.welcome p{
    padding: 0 58px;
    text-align: left;
}
/*Welcome block ends*/

/*Why us section*/
.why_us{
    padding: 0 0 0 135px;
}
.why_us_first_row{
    display: flex;
}
.why_us_second_row{
    display: flex;
    margin-top: 35px;
}
.why_us h2{
    margin-top: 31px;
    margin-bottom: 82px;
}
.why_us_cards{
    text-align: center;
    width: 245px;
    padding-right: 55px;   
}
.why_us_cards img{
    border-radius: 10px;    
}

.why_us_cards h3{
    font-family: "IBM_Plex_Sans_Semi_Bold";
    font-size: 20px;
    text-align: center;
    font-style: normal;
    line-height: 26px;
    padding: 12px 0;
}

/*Why us section ends*/

/*Choose film (table)*/
.choose_film{
    padding: 114px 0 0 140px;
}

/*Table*/
.table {
    border-collapse: separate; /*collaps was removed because of it border-radius didn't work*/
    border-spacing: 0;
    padding-top: 45px;
}

.table_head {
    font-family: "IBM_Plex_Sans_Semi_Bold";
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    background: #a3cc40;
    color: #ffff;
    text-align: left;
    height: 45px;
}
th a{
    text-decoration: none;
    color: #FFFFFF;
}
th svg{
    vertical-align: middle;
}
.t_body {
   font-family: "IBM_Plex_Sans_Regular";
   font-weight: 400;
   font-style: normal;
   font-size: 14px;
   line-height: 14.2px;
   color: #ffff;
}  
  
  /*Styles for border-radius*/
th.check {
   border-radius: 10px 0 0 0;
}
th.cell_genre {
   border-radius: 0 10px 0 0;
}
tbody tr:last-child td.cell_genre {
   border-radius: 0 0 10px 0;
}
tbody tr:last-child td.check {
   border-radius: 0 0 0 10px;
}
  
.check {
   width: 77px;
}
.cell_session {
   width: 234px;
}
.cell_film_name {
   width: 240px;
}
.cell_genre {
   width: 287px;
}
  
.check svg {
   padding-left: 24px;
}
.first_row {
   background-color: #373737;
   height: 45px;
}
.second_row {
   background-color: #4c4d4f;
   height: 45px;
}